<%= render 'shared/navbar' %>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/diyszwqhl/image/upload/v1597721263/wedding1.jpg);">
  <div class="container">
  </div>
</div>
<div class="strenghts">
  <div class="strenght-box">
    <i class="fas fa-tasks"></i>
    <p class="title-strenghts">Variety</p>
    <p class="text-strenghts">Our store has a huge variety of dresses <br>
      according to our client necessities</p>
  </div>
  <div class="strenght-box">
    <i class="fas fa-balance-scale"></i>
    <p class="title-strenghts">Experience</p>
    <p class="text-strenghts">Our store will provide the best experience <br>
      to the clients </p>
  </div>
  <div class="strenght-box">
    <i class="fas fa-yen-sign"></i>
    <p class="title-strenghts">Price</p>
    <p class="text-strenghts">Our store has a competitive market price <br>
      and also many price options</p>
  </div>
</div>