<%= render 'shared/navbar' %>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/diyszwqhl/image/upload/v1597721263/wedding1.jpg);">
  <div class="container">
    <%= cl_image_tag "threepalacessilverwhiteopacity2_txjsz4", class: "avatar"%>
  </div>
</div>
<div class="strenghts">
  <div class="strenght-box">
    <!-- <i class="fas fa-tasks"></i> -->
    <p class="title-strenghts">Variety</p>
    <p class="text-strenghts">トレンドに左右されない <br>
      タイムレスなデザインを厳選し <br>
      世界中から個性豊かなスタイルが <br>
      集まっています</p>
    <!-- <p class="text-strenghts">Our store has a huge variety of dresses <br>
      according to our client necessities</p> -->
  </div>
  <div class="strenght-box">
    <!-- <i class="fas fa-balance-scale"></i> -->
    <p class="title-strenghts">Experience</p>
    <p class="text-strenghts">完全予約制の仙台市内にある <br>
      小さなドレスサロン ご要望に合わせた <br>
      トータルコーディネートを <br>
      ご提案します</p>
    <!-- <p class="text-strenghts">Our store will provide the best experience <br>
      to the clients </p> -->
  </div>
  <div class="strenght-box">
    <!-- <i class="fas fa-yen-sign"></i> -->
    <p class="title-strenghts">Price</p>
    <p class="text-strenghts">世界のセレブ御用達の <br>
      ハイブランドドレスも <br>
      マイクロウエディングのコンセプトを <br>
      共感できる
      新人デザイナーのドレスも</p>
    <!-- <p class="text-strenghts">Our store has a competitive market price <br>
      and also many price options</p> -->
  </div>
</div>