<div class="canner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1>Le Wagon brings <strong>tech skills</strong> to <strong>creative people</strong>!</h1>
    <p>Change your life and learn to code at one of our campuses around the world.</p>
    <a class="btn btn-flat" href="#">Apply now</a>
  </div>
</div>
<div class="strenghts">
  <div class="strenght-box">
    <!-- <i class="fas fa-tasks"></i> -->
    <p class="title-strenghts">Variety</p>
    <p class="text-strenghts">トレンドに左右されない
      タイムレスなデザインを厳選し
      世界中から個性豊かなスタイルが
      集まっています</p>
    <!-- トレンドに左右されない <br>
      タイムレスなデザインを厳選し <br>
      世界中から個性豊かなスタイルが <br>
      集まっています -->
    <!-- <p class="text-strenghts">Our store has a huge variety of dresses <br>
      according to our client necessities</p> -->
  </div>
  <div class="strenght-box">
    <p class="title-strenghts">Experience</p>
    <p class="text-strenghts">完全予約制の仙台市内にある
      小さなドレスサロン ご要望に合わせた
      トータルコーディネートを
      ご提案します</p>
    <!-- 完全予約制の仙台市内にある <br>
      小さなドレスサロン ご要望に合わせた <br>
      トータルコーディネートを <br>
      ご提案します -->
    <!-- <p class="text-strenghts">Our store will provide the best experience <br>
      to the clients </p> -->
  </div>
  <div class="strenght-box">
    <!-- <i class="fas fa-yen-sign"></i> -->
    <p class="title-strenghts">Price</p>
    <p class="text-strenghts">シンプルなドレスも
      世界の
      セレブ御用達のハイブランドドレスも
      手に届く価格で楽しんでいただきたけます</p>
    <!-- シンプルなドレスも
      世界の <br>
      セレブ御用達のハイブランドドレスも <br>
      手に届く価格で楽しんでいただきたけます -->
    <!-- <p class="text-strenghts">Our store has a competitive market price <br>
      and also many price options</p> -->
  </div>
</div>