.banner {
  background-size: cover;
  background-position: inherit;
  padding: 150px 0;
  height: 80vh;
  position: relative;
  top: -70px;
  border-bottom: 1px solid rgba(255,255,255,0.2);
}
.strenghts {
  display: flex;
}
